//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;

// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//normalize
@import "_misc/normalize.scss";

// media
@import "_misc/media";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// section
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/marketing.scss";
@import "blocks/profile.scss";
@import "blocks/team.scss";
@import "blocks/burger.scss";
@import "blocks/order.scss";
@import "blocks/map.scss";





