.map {
  width: 100%;
  height: 100%;
}

.map__hint {
  padding: 5px 10px;
  font-size: 0.875rem;
  background: #e45028;
  color: #fff;
  border-radius: 5px;
}

.map__balloon {
  padding: 5px 10px;
  font-size: 0.875rem;
  background: #e45028;
  color: #fff;
  border-radius: 5px;
}