.fixed-menu {
	position: fixed;
    top: rem(101px);
    right: rem(44px);
    z-index: 100;
    @include tablets {
    	display: none;
    }
}

.fixed-menu__item  {
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  transition: .3s;
  cursor: pointer;
}

.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__item_active, .fixed-menu__item:hover {
  border: 1px solid #ffffff;
}

.fixed-menu__item:after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
}