.header {
	padding: 12px 0;
}

.header__links {
  display: flex;
  align-items: center;
} 

.header__button {
	width: 15%;
	padding: rem(9px) 0;
	margin-left: 2%;
	min-width: rem(85px);
}

.header__humburger {
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
	margin-left: rem(30px);
	border: none;
	background: transparent;
	display: none;
}

.header__humburger-bars{
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(4px);
		border-radius: rem(3px);
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}