.hero {
	background: #000 url(../img/fon-bg.jpg) center center / cover no-repeat;
	position: relative;
}

.hero__container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
 	padding-bottom: 15%;
}

.hero__icon, .hero__info {
  	float: left;
  	width: 50%;
}

.hero__info {
	padding-top: rem(115px);
}

.hero__desc {
	font-size: 65px;
	color: #fff;
	font-family: 'Lifehack Medium';
	line-height: 1em;
    display: block;
    margin-top: 10px;
    letter-spacing: -0.025em;
	}

.arrow {
	position: absolute;
    bottom: 6%;
    left: 50%;
}

.fixed-menu {
	position: fixed;
    top: 101px;
    right: 44px;
}

.fixed-menu__item {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: all 0.5s ease;
    cursor: pointer;

    &:after {
	    content: '';
	    width: 6px;
	    height: 6px;
	    background-color: #ffffff;
	    border-radius: 50%;
    }

    &:hover {
    	border: 1px solid #ffffff;
    }
}