<<<<<<< HEAD
.map {
	background: #aacbd9 url(../img/map.jpg) center center / cover no-repeat;
}

.footer {
	background: #1b1b1b url(../img/foot.jpg) center center / cover no-repeat;
	position: absolute;
	width: 100%;
	bottom: 0;
  	left: 0;
  	right: 0;
  	padding: 10px 0;
}

.block-left{
	width: 50%;
	font-size: 14px;
}

.block-left__adres {
	color: #fff;
	font-weight: 300;
	margin-bottom: 6px;
}

.block-left__tel {
	color: $orange;
	font-weight: 900;
}

.block-left__tel i {
	margin-right: 4px;
}

.block-right {
	margin-left: auto;
}

.block-right__item {
	margin-left: 14px;
}

.block-right__link {
	color: #5a5a5a;
	transition: all 0.5s ease;
	&:hover {
		color: #fff;
	}
=======
.yandex-map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
>>>>>>> 11a2a1ac621e2e1f5faab26512683905cb8954a0
}