.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
}

.menu-acco__item {
	height: 100%;
	&.active {
		.menu-acco__trigger-text {
			color: red;
		}
	}
}

.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.menu-acco__trigger-text {
	color: #fff;
	font-size: rem(40px);
	font-family: 'Gagalin-Regular';
	transform: rotate(-90deg) translateY(-50%);
	text-align: center;
	position: absolute;
	transform-origin: 0 0;
  	left: 50%;
  	top: 100%;
  	margin-top: rem(-20px);
  	white-space: nowrap;
}

.menu-acco__content {
	height: 100%;
	background: rgba(#2f3234, .93);
	display: flex;
	width: 0;
	overflow: hidden;
}

.menu-acco__text {
	font-size: rem(14px);
	color: #fff;
	font-weight: 300;
	padding: rem(60px) rem(30px);
	width: 100%;
  	line-height: 1.8;
  	display: none;
}