.menu {
	background: #2c3e44 url(../img/menu.jpg) center center / cover no-repeat;
	position: relative;
	.section__title {
		margin-bottom: 0;
		@include phones {
			font-size: rem(50px);
		}
	}
}

.menu__title {
	position: absolute;
	top: 10%;
    left: 10%;
}