
.nav {
	margin-left: 30px;
}

.nav__link {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	margin-right: 14px;
	font-weight: 500;

	&:after {
		content: '';
		width: 4px;
		height: 4px;
		background: #fff;
		border-radius: 50%;
		display: inline-block;
		margin-bottom: 2px;
		margin-left: 15px;
	}
}

.nav__item {
  &:last-child {
    .nav__link:after {
      display: none;
    }
  }
}