.nav__list {
	width: 100%;
  	display: flex;
  	align-items: center;
}

.nav__item {
	display: flex;
	align-items: center;
	white-space: nowrap;
	
	&:first-child {
		&:before {
			display: none;
		}
	}

	&:before {
		content: '';
		width: rem(4px);
		height: rem(4px);
		background: #fff;
		border-radius: 50%;
		display: block;
		margin: 0 rem(10px)
	}
}

.nav__link {
	font-size: rem(13px);
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
