.order {
	background: #1b1b1b url(../img/form.jpg) center center / cover no-repeat;
	.section__title {
    text-align: center;
    @include phones {
    	line-height: 1.2em;
    	font-size: rem(50px);
    	padding-top: rem(20px);
    }
  }
}

.order__form {
	display: flex;
	margin-left: -5%;
	@include tablets {
  		flex-direction: column;
  	}
}

.order__form-col {
 	width: 45%;
  	margin-left: 5%;
  	@include tablets {
  		width: auto;
  	}
}

.order__form-row {
	display: flex;
	margin-bottom: rem(16px);
	@include phones {
		justify-content: center;
		margin-bottom: rem(40px);
	}
}

.order__form-block {
	flex: 1;
	margin-left: 20px;

	&:first-child {
		margin-left: 0;
	}
}

.order__form-block_none {
	@include phones {
		display: none;
	}
}

.order__form-input {
	width: 100%;
	padding: rem(8px) rem(20px);
	border-radius: rem(5px);
	font-size: rem(14px);
	border: rem(1px) solid #d1cfcb;
}

.order__form-label {
	margin-bottom: rem(7px);
	&:nth-child(7) {
		@include phones {
			display: none;
		}
	}
}

.order__form-input_textarea {
	height: rem(110px);
	resize: none;
}

.order__radio {
  margin-right: rem(20px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order__radio-title {
  margin-left: rem(7px);
}

.order__form-button {
	
}

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
  color: #fff;
  border: none;
  margin-left: rem(20px);
  cursor: pointer;
}


