.team-acco__trigger {
	font-size: rem(14px);
	color: #fff;
	font-family: 'Gagalin-Regular';
	position: relative;
  	display: inline-flex;
  	margin-bottom: rem(20px);
  	align-items: center;
  	 &:before {
  	 	content: "";
  	 	border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
		margin-right: rem(10px);
		margin-top: rem(3px);
  	 } 
}

.team-acco__item {
  margin-bottom: rem(20px);
  
	&:last-child {
		margin-bottom: 0;
	}

	&.active {
		.team-acco__trigger {
			color: $yellow;

			&:before {
				transform: rotate(-180deg);
			}
		}
	}
}

.team-acco__content {
	display: flex;
<<<<<<< HEAD
	height: 0;
	overflow: hidden;
}

.team-acco__text {
	margin-left: rem(20px);
=======
	@include tablets {
		flex-direction: column;
	}

}

.team-acco__pic {
	margin: 0 auto;
>>>>>>> 11a2a1ac621e2e1f5faab26512683905cb8954a0
}

.team-acco__img {
	width: rem(100px);
	height: rem(100px);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
	border-radius: 50%;
}

.team-acco__text {
	width: rem(240px);
<<<<<<< HEAD
=======
	margin-left: rem(20px);
	@include tablets {
		width: auto;
		margin-left: 0;
		margin-top: rem(12px);
		padding: 0 2%;
	}
>>>>>>> 11a2a1ac621e2e1f5faab26512683905cb8954a0
}

.team-acco__title {
	font-weight: 900;
	font-size: rem(14px);
	margin-bottom: rem(14px);
}

.team-acco__text-content p {
	font-weight: 300;
	color: #fff;
	font-size: rem(14px);
}
